// Footer

.footer {
  margin-top: $sg-margin-normal;
  margin-bottom: $sg-margin-normal;
  padding-top: $sg-margin-normal;
  padding-bottom: $sg-margin-normal;
  border-top: 1px solid $sg-color-grey-lighter;
}
